# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Added by RIZ0x1
.DS_Store
.vscode
ft_out.dSYM
std_out.dSYM
qt-creator-build
qt-creator-build/*
clion-build
build
CMakeLists.txt.user
cmake-build-debug
.idea
**/*_test
